* {
    box-sizing: border-box;
    outline: 0
}

html {
    height: 100%
}

body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #F5F5F5;
    font-family: "PingFang SC", "Microsoft Yahei", "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none
}

:root {
    --theme-color: #70C000;
    --theme-color-active: rgba(112, 192, 0, .6);
    --w-alpha-5: rgba(255, 255, 255, .05);
    --w-alpha-10: rgba(255, 255, 255, .1);
    --w-alpha-15: rgba(255, 255, 255, .15);
    --w-alpha-20: rgba(255, 255, 255, .2);
    --w-alpha-30: rgba(255, 255, 255, .3);
    --w-alpha-50: rgba(255, 255, 255, .5);
    --w-alpha-60: rgba(255, 255, 255, .6);
    --w-alpha-70: rgba(255, 255, 255, .7);
    --w-alpha-80: rgba(255, 255, 255, .8);
    --w-alpha-90: rgba(255, 255, 255, .9);
    --bg-w-p: white;
    --bg-w-s: rgb(245, 245, 245);
    --bg-w-pure: white;
    --bg-w-245: rgb(245, 245, 245);
    --txt-w-pure: white;
    --txt-b-pure: black;
    --txt-b-tip: rgba(0, 0, 0, .8);
    --b-alpha-5: rgba(0, 0, 0, .05);
    --b-alpha-10: rgba(0, 0, 0, .1);
    --b-alpha-15: rgba(0, 0, 0, .15);
    --b-alpha-20: rgba(0, 0, 0, .2);
    --b-alpha-30: rgba(0, 0, 0, .3);
    --b-alpha-35: rgba(0, 0, 0, .35);
    --b-alpha-40: rgba(0, 0, 0, .4);
    --b-alpha-50: rgba(0, 0, 0, .5);
    --b-alpha-60: rgba(0, 0, 0, .6);
    --b-alpha-70: rgba(0, 0, 0, .7);
    --b-alpha-80: rgba(0, 0, 0, .8);
    --b-alpha-90: rgba(0, 0, 0, .9)
}

@font-face {
    font-family: iconfont;
    src: url(https://at.alicdn.com/t/font_2846856_updxcm8q8gp.woff2?t=1633095104768) format('woff2'), url(https://at.alicdn.com/t/font_2846856_updxcm8q8gp.woff?t=1633095104768) format('woff'), url(https://at.alicdn.com/t/font_2846856_updxcm8q8gp.ttf?t=1633095104768) format('truetype')
}

i {
    font-family: iconfont !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none;
    transition: .25s
}

a.link {
    color: var(--theme-color);
    border-bottom: 1px solid transparent;
    cursor: pointer
}

a.link:hover {
    border-color: var(--theme-color)
}

a.link:active {
    border-color: var(--theme-color-active);
    color: var(--theme-color-active)
}

p {
    transition: .25s
}

#top-bg {
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/Home_TopBg0.jpg);
    transition: transform 1.5s, opacity 1s;
    transform: scale(1.05);
    opacity: 0
}

#top-bg.loaded {
    transform: scale(1);
    opacity: 1
}

#nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    transition: .25s
}

#nav-bar.sticky {
    z-index: 99;
    position: fixed;
    height: 82px;
    background-color: var(--bg-w-pure);
    box-shadow: rgba(0, 0, 0, .1) 0 5px 20px
}

#nav-logo-container {
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 0;
    transition: .25s
}

#nav-logo-main,
#nav-logo-text {
    display: inline-block;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    transition: .25s
}

#nav-logo-main {
    width: 50px;
    background-image: url(../images/Logo_Main_2108.png)
}

#nav-logo-text {
    width: 100px;
    background-image: url(../images/Logo_Text_2108.png)
}

#nav-bar.sticky #nav-logo-container {
    top: 16px
}

#nav-bar.sticky #nav-logo-main {
    background-image: url(../images/Logo_Main_2108_Border.png)
}

#nav-bar.sticky #nav-logo-text {
    background-image: url(../images/Logo_Text_2108_Gradient.png)
}

#nav-link-container {
    position: absolute;
    right: 170px;
    top: 30px;
    white-space: nowrap;
    transition: .25s
}

.nav-link {
    position: relative;
    cursor: pointer;
    transition: .25s
}

#nav-bar .nav-link {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px
}

#nav-bar .nav-link:before {
    position: absolute;
    left: 20px;
    bottom: 3px;
    width: calc(100% - 40px);
    height: 3px;
    content: '';
    background: var(--theme-color);
    border-radius: 2px;
    transition: .25s;
    transform: scale(0);
    opacity: 0
}

#nav-bar .nav-link:hover {
    background-color: var(--b-alpha-5)
}

#nav-bar .nav-link:hover:before {
    transform: scale(1);
    opacity: 1
}

#nav-bar .nav-link:active,
#nav-bar .nav-link:active:before {
    opacity: .6
}

#nav-bar.sticky .nav-link {
    color: var(--txt-b-pure)
}

#icon-theme {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid transparent;
    color: #e29844;
    background-color: #fff;
    transition: .25s
}

#nav-bar.sticky #icon-theme {
    border-color: var(--b-alpha-5)
}

.dark #icon-theme {
    color: #fdecb1 !important;
    background-color: #402a2e
}

.dark #nav-bar.sticky #icon-theme {
    background-color: #303030
}

#nav-link-switch-theme:hover #icon-theme {
    color: #fdecb1;
    background-color: transparent !important;
    border-color: transparent
}

#nav-bar.sticky #nav-link-switch-theme:hover #icon-theme {
    color: #e29844
}

.btn-menu {
    position: absolute;
    top: 31.5px;
    right: 25px;
    width: 25px;
    height: 2px;
    padding: 6px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    box-sizing: unset;
    background-clip: content-box;
    transition: .25s;
    cursor: pointer;
    display: none
}

#nav-bar .btn-menu {
    border-color: #fff;
    background-color: #fff
}

#nav-bar .btn-menu:hover {
    border-color: rgba(255, 255, 255, .6);
    background-color: rgba(255, 255, 255, .6)
}

#nav-bar.sticky .btn-menu,
#nav-menu .btn-menu {
    border-color: var(--b-alpha-60);
    background-color: var(--b-alpha-60)
}

#nav-bar.sticky .btn-menu:hover,
#nav-menu .btn-menu:hover {
    border-color: var(--theme-color);
    background-color: var(--theme-color)
}

.btn-menu:active {
    opacity: .6
}

#bg-dark-overlay,
.overlay {
    z-index: -99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .25s
}

.overlay.shown {
    z-index: 999;
    background-color: rgba(0, 0, 0, .3)
}

#nav-menu-overlay.shown {
    width: calc(100% - 260px)
}

#nav-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -260px;
    width: 260px;
    height: 100%;
    padding: 80px 10px;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 30px;
    font-size: 0;
    transition: .25s;
    opacity: 0
}

#nav-menu.shown {
    right: 0;
    opacity: 1
}

#nav-menu .nav-link {
    display: block;
    padding: 15px 30px;
    border-radius: 8px;
    color: var(--b-alpha-80);
    font-size: 16px
}

#nav-menu .nav-link:hover {
    background-color: var(--b-alpha-5);
    color: var(--txt-b-pure)
}

#nav-menu .nav-link:active {
    background-color: var(--b-alpha-10);
    transform: scale(.98)
}

#nav-menu .nav-link span {
    float: right;
    color: var(--b-alpha-50);
    transition: .25s
}

.dividing-line {
    display: inline-block;
    width: calc(100% - 60px);
    height: 1px;
    margin: 15px 30px;
    background-color: var(--b-alpha-10)
}

#headline-container {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 0
}

.heading-underline {
    display: inline-block;
    width: 70px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--theme-color)
}

.heading-underline-1 {
    display: inline-block;
    width: 50px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--theme-color)
}

h1 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 76px;
    color: #fff
}

h2 {
    margin-top: 25px;
    font-weight: 400;
    font-size: 15px;
    color: #fff
}

h2 span {
    color: rgba(255, 255, 255, .6)
}

h3 {
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--txt-b-pure);
    transition: .25s
}

h4 {
    color: var(--txt-b-pure);
    font-size: 28px
}

h5 {
    color: var(--txt-b-pure);
    font-size: 24px;
    text-align: center
}

#scroll-down-wrapper {
    position: absolute;
    bottom: 50px;
    width: 100%
}

#scroll-down-icon {
    position: absolute;
    left: calc(50% - 10px);
    border-right: 3px solid;
    border-top: 3px solid;
    border-color: rgba(255, 255, 255, .5);
    border-radius: 2px;
    box-sizing: unset;
    height: 20px;
    width: 20px;
    transform: rotate(135deg);
    cursor: pointer;
    transition: .25s;
    animation: twinkle 2s 2s
}

#scroll-down-icon:hover {
    border-color: #fff
}

#scroll-down-icon:active {
    border-color: rgba(255, 255, 255, .35)
}

@keyframes twinkle {
    50% {
        margin-top: 10px;
        border-color: #fff
    }
}

#about,
#journey,
#work,
footer {
    position: relative;
    top: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    font-size: 0;
    text-align: center;
    transition: .25s
}

#about,
#journey {
    background-color: var(--bg-w-pure)
}

#about {
    padding-left: 5%;
    padding-right: 5%
}

.tags-container {
    margin-top: 25px;
    font-size: small
}

.tags-container span {
    display: inline-block;
    margin: 3px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--b-alpha-5);
    color: var(--b-alpha-60);
    transition: .25s
}

.tags-container span:hover {
    background-color: var(--b-alpha-10);
    color: var(--txt-b-pure);
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 5px 10px
}

.about-content {
    position: relative;
    margin-top: 25px;
    width: 100%;
    color: var(--b-alpha-80);
    font-size: 14px
}

#work {
    background-color: var(--bg-w-245)
}

.work-list {
    display: flex;
    position: relative;
    margin-top: 25px;
    left: 10%;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center
}

.work-list.others {
    left: -50px;
    margin: 30px 0 -30px 0;
    width: calc(100% + 100px);
    padding: 30px 35px;
    border-radius: 10px;
    background-color: var(--bg-w-pure);
    justify-content: left
}

.work-link {
    width: 300px;
    height: 250px;
    margin: 0 15px 30px 15px;
    background-color: var(--bg-w-pure);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .03) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .03) 0 5px 10px;
    box-shadow: rgba(0, 0, 0, .03) 0 5px 10px;
    text-align: left;
    overflow: hidden;
    transition: .25s;
    cursor: pointer
}

.work-link:hover {
    -webkit-box-shadow: rgba(0, 0, 0, .2) 0 10px 30px;
    -moz-box-shadow: rgba(0, 0, 0, .2) 0 10px 30px;
    box-shadow: rgba(0, 0, 0, .2) 0 10px 30px
}

.work-link * {
    transition: .25s
}

.work-list.others .work-link {
    width: 275px;
    border: 1px solid var(--b-alpha-5)
}

.work-link-image {
    height: 155px;
    background-color: var(--b-alpha-5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

#work-link-limestart .work-link-image {
    background-image: url(../images/workLinkPic_Limestart.jpg)
}

#work-link-xmfls .work-link-image {
    background-image: url(../images/workLinkPic_XMFLS.jpg)
}

#work-link-airportal .work-link-image {
    background-image: url(../images/workLinkPic_AirPortal.jpg)
}

#work-link-pixel .work-link-image {
    background-image: url(../images/workLinkPic_Pixel.jpg)
}

#work-link-bullshit-generator .work-link-image {
    background-image: url(../images/workLinkPic_BullshitGenerator.jpg)
}

#work-link-dunight .work-link-image {
    background-image: url(../images/workLinkPic_DuNight.jpg)
}

#work-link-sss .work-link-image {
    background-image: url(../images/workLinkPic_SSS.jpg)
}

#work-link-bilibili .work-link-image {
    background-image: url(../images/workLinkPic_bilibili.jpg)
}

#work-link-others .work-link-image {
    background-image: url(../images/workLinkPic_others.jpg);
    background-position: left
}

#work-link-checkbox-viewer .work-link-image {
    background-image: url(../images/workLinkPic_CheckboxViewer.jpg)
}

#work-link-ncov19 .work-link-image {
    background-image: url(../images/workLinkPic_NCOV19.jpg)
}

#work-link-virus-killer .work-link-image {
    background-image: url(../images/workLinkPic_VirusKiller.jpg)
}

.work-link-text-container {
    padding: 10px 20px
}

.work-link-title {
    margin: 5px 0 0;
    color: var(--txt-b-pure);
    font-size: 16px;
    font-weight: 700
}

.work-link-description {
    margin: 1px 0 0;
    color: var(--txt-b-pure);
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.work-link-category {
    margin: 9px 0 0;
    font-size: 12px;
    color: var(--b-alpha-50)
}

#popup-other-works li span,
.work-link-category span {
    padding: 0 5px;
    border-radius: 3px
}

.work-link-category span {
    float: right
}

#popup-other-works li span {
    margin-right: 2px
}

span.early-work-tag {
    color: #639222;
    background-color: rgba(99, 146, 34, .1)
}

span.early-work-tag::after {
    content: "已推完"
}

span.in-dev-work-tag {
    color: #997c1e;
    background-color: rgba(153, 124, 30, .1)
}

span.in-dev-work-tag::after {
    content: "待推"
}

span.experimental-work-tag {
    color: #6334AF;
    background-color: rgba(108, 56, 192, .1)
}

span.experimental-work-tag::after {
    content: "正在推"
}

.tip {
    margin-top: 20px;
    font-size: 12px;
    color: var(--b-alpha-60)
}

.journey-container-wrapper {
    position: relative;
    left: 15%;
    margin-top: 30px;
    width: 70%;
    overflow: hidden
}

.journey-container-wrapper * {
    transition: .25s
}

#journey-container {
    display: flex;
    padding: 0 80px 10px 80px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

#journey-container::-webkit-scrollbar {
    height: 5px
}

#journey-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--b-alpha-5);
    text-align: left
}

.journey-item-date,
.journey-item-fade-out {
    margin: 0;
    font-size: 18px;
    font-weight: 700
}

.journey-item-date {
    margin-bottom: 3px;
    color: var(--txt-b-pure)
}

.journey-item-content {
    margin: 0;
    color: var(--b-alpha-80);
    font-size: 14px
}

.journey-item-fade-out {
    color: var(--b-alpha-20)
}

.journey-mask {
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    pointer-events: none
}

.journey-mask.left {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), var(--bg-w-pure))
}

.journey-mask.right {
    left: calc(100% - 80px);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--bg-w-pure))
}

footer {
    padding: 100px 0 95px
}

footer div {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
    padding: 0 50px
}

footer p {
    margin-top: 0;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

footer a {
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    font-size: 12px
}

footer a:hover {
    border-color: #fff
}

footer a:active {
    opacity: .6
}

#copyright p {
    font-size: 12px
}

.legal-text-container {
    position: relative;
    top: -6px
}

.legal-text-container a {
    color: rgba(255, 255, 255, .5) !important
}

.legal-text-container a:active,
.legal-text-container a:hover {
    border-color: rgba(255, 255, 255, .5)
}

.popup {
    z-index: 1000;
    display: none;
    opacity: 0;
    transform: scale(1.1);
    position: fixed;
    top: calc(50% - 300px);
    left: calc(50% - 350px);
    width: 700px;
    height: 600px;
    background-color: var(--bg-w-pure);
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 0 50px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 0 50px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 50px;
    transition: .25s
}

.popup.shown {
    opacity: 1;
    transform: scale(1)
}

div ::-webkit-scrollbar {
    width: 5px
}

div ::-webkit-scrollbar-thumb {
    background-color: var(--b-alpha-10);
    border-radius: 3px
}

div ::-webkit-scrollbar-thumb:hover {
    background-color: var(--b-alpha-20)
}

div ::-webkit-scrollbar-thumb:active {
    background-color: var(--theme-color)
}

.popup-content {
    position: relative;
    left: 5px;
    width: calc(100% - 10px);
    height: 100%;
    padding: 0 50px 35px 50px;
    overflow-x: hidden
}

.popup h4 {
    margin: 60px 0 0 0
}

.popup h5 {
    margin: 40px 0 30px
}

#popup-donate img {
    width: calc(50% - 10px);
    margin-top: 10px;
    border: 1px solid var(--b-alpha-5);
    border-radius: 10px
}

#popup-donate img:first-of-type {
    margin-right: 10px
}

#popup-copyright li,
#popup-copyright p,
#popup-donate p {
    color: var(--txt-b-pure);
    font-size: 14px
}

#popup-copyright li {
    font-weight: 700;
    line-height: 1.8
}

#popup-other-works {
    background-color: var(--bg-w-245)
}

.tip-text {
    padding: 20px 0;
    color: var(--b-alpha-60);
    font-size: small;
    line-height: 1.8
}

.red {
    color: #dc1e1e !important
}

.right-aligned {
    text-align: right
}

#to-pirates {
    display: none
}

@media screen and (max-width:1300px) {
    #nav-logo-container {
        left: 100px
    }

    #nav-link-container {
        right: 70px
    }

    .work-list {
        left: 5%;
        width: 90%
    }

    .journey-container-wrapper {
        left: 10%;
        width: 80%
    }
}

@media screen and (max-width:900px) {
    #nav-logo-container {
        left: 70px
    }

    #nav-link-container {
        right: 40px
    }

    .work-list {
        left: 0;
        width: 100%
    }
}

@media screen and (max-width:760px) {
    #nav-logo-container {
        left: 25px
    }

    #nav-link-container {
        display: none
    }

    .btn-menu {
        display: block
    }

    .popup {
        left: 5%;
        width: 90%
    }

    .work-list.others {
        justify-content: center
    }
}

@media screen and (max-width:600px) {
    h1 {
        font-size: 66px
    }

    h2 {
        font-size: 14px;
        line-height: 12px
    }

    footer {
        padding-bottom: 60px
    }

    footer div {
        padding: 0 30px 30px 30px
    }

    #copyright {
        text-align: center
    }
}

@media screen and (max-width:500px) {
    .popup-content {
        padding-left: 30px;
        padding-right: 30px
    }

    .work-list.others {
        left: -30px;
        width: calc(100% + 60px);
        padding: 30px 15px
    }
}

@media screen and (max-width:400px) {
    .popup-content {
        padding-left: 20px;
        padding-right: 20px
    }

    .work-list.others {
        left: -20px;
        width: calc(100% + 40px);
        padding: 30px 5px
    }

    .tip-text {
        font-size: 14px
    }

    footer div {
        padding-left: 25px;
        padding-right: 25px
    }

    footer p {
        font-size: 16px
    }
}

@media screen and (max-width:330px) {
    footer div {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media screen and (max-height:800px) {
    .popup {
        top: 100px;
        height: calc(100% - 200px)
    }
}

@supports (-webkit-backdrop-filter:blur(10px)) or (backdrop-filter:blur(10px)) {

    #nav-bar.sticky,
    #nav-menu {
        background-color: var(--w-alpha-80);
        -webkit-backdrop-filter: blur(30px) saturate(180%);
        backdrop-filter: blur(30px) saturate(180%)
    }
}

.dark {
    --w-alpha-5: rgba(0, 0, 0, .05);
    --w-alpha-10: rgba(0, 0, 0, .1);
    --w-alpha-15: rgba(0, 0, 0, .15);
    --w-alpha-20: rgba(0, 0, 0, .2);
    --w-alpha-30: rgba(0, 0, 0, .3);
    --w-alpha-50: rgba(30, 30, 30, .5);
    --w-alpha-60: rgba(0, 0, 0, .6);
    --w-alpha-70: rgba(30, 30, 30, .7);
    --w-alpha-80: rgba(30, 30, 30, .8);
    --w-alpha-90: rgba(30, 30, 30, .9);
    --bg-w-p: rgb(40, 40, 40);
    --bg-w-s: rgb(30, 30, 30);
    --bg-w-pure: rgb(30, 30, 30);
    --bg-w-245: rgb(40, 40, 40);
    --txt-w-pure: black;
    --txt-b-pure: white;
    --txt-b-tip: rgba(255, 255, 255, .5);
    --b-alpha-5: rgba(255, 255, 255, .05);
    --b-alpha-10: rgba(255, 255, 255, .1);
    --b-alpha-15: rgba(255, 255, 255, .15);
    --b-alpha-20: rgba(255, 255, 255, .2);
    --b-alpha-30: rgba(255, 255, 255, .3);
    --b-alpha-35: rgba(255, 255, 255, .35);
    --b-alpha-40: rgba(255, 255, 255, .4);
    --b-alpha-50: rgba(255, 255, 255, .5);
    --b-alpha-60: rgba(255, 255, 255, .6);
    --b-alpha-70: rgba(255, 255, 255, .7);
    --b-alpha-80: rgba(255, 255, 255, .8);
    --b-alpha-90: rgba(255, 255, 255, .9);
    color-scheme: dark
}

.dark #bg-dark-overlay {
    background-color: rgba(0, 0, 0, .2)
}

.dark #nav-bar.sticky {
    border-bottom: 1px solid rgba(255, 255, 255, .05)
}

.dark #nav-bar.sticky #nav-logo-main {
    background-image: url(../images/Logo_Main_2108_Dark_Border.png)
}

.dark .work-link-image {
    filter: brightness(.8)
}

.dark .overlay.shown:not(#nav-menu-overlay) {
    background-color: rgba(0, 0, 0, .6)
}

.dark span.early-work-tag {
    color: #92b95c;
    background-color: rgba(146, 185, 92, .1)
}

.dark span.in-dev-work-tag {
    color: #bda558;
    background-color: rgba(189, 165, 88, .1)
}

.dark span.experimental-work-tag {
    color: #a585d8;
    background-color: rgba(165, 133, 216, .1)
}

.dark .journey-mask.left {
    background-image: linear-gradient(to left, rgba(30, 30, 30, 0), var(--bg-w-pure))
}

.dark .journey-mask.right {
    background-image: linear-gradient(to right, rgba(30, 30, 30, 0), var(--bg-w-pure))
}